header{
    background-color: rgb(9, 241, 249);
    color: white;
    text-align: center;
    align-content: center;
    height: 35px;
}

nav{
    background-color: green;
    color: white;
    text-align: center;
    align-content: center;
    height: 35px;   
    margin-top: 10px;
}

section{
    display: flex;
    justify-content: space-between;
}

.aside-div{
    width: 32%;
}

.aside{
    background-color: rgb(74, 139, 74);
    color: white;
    text-align: center;
    align-content: center;
    height: 408px;
    margin-top: 10px;
    
}

.page-content{
    width: 100%;
}

.content{
    background-color: rgba(102, 97, 180, 0.495);
    color: white;
    text-align: center;
    align-content: center;
    height: 200px;
    margin-top: 10px; 
    margin-left: 20px;
    
}

.section{
    background-color: rgb(63, 54, 131);
    color: white;
    text-align: center;
    align-content: center;
    height: 200px;
    margin-top: 10px; 
    margin-left: 20px;
}

footer{
    background-color: rgb(9, 241, 249);
    color: white;
    text-align: center;
    align-content: center;
    height: 35px;
    margin-top: 10px;
}